$border-color: #ced4da;

// active
$background-active: lightseagreen;
$color-active: white;

$background-disabled: #f4f4f4;

.container-autocomplete {
  position: relative;
  background: transparent;
  border: 1px solid $border-color;
  border-radius: 3px;

  &.focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25);
    outline: 0;
  }

  &.disabled {
    .suggestion-selected {
      background-color: $background-disabled;
      cursor: not-allowed;
    }

    .arrow {
      display: none !important;
    }
  }

  &.readonly {
    .suggestion-selected {
      background-color: $background-disabled;
    }

    .arrow {
      display: none !important;
    }
  }

  > input {
    width: 0 !important;
    height: 0 !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    outline: 0 !important;
    left: 0px !important;
    top: 0px !important;
  }

  .suggestion-selected {
    // display: none;
    background: none;
    background-color: white;
    height: 28px;
    cursor: pointer;
    line-height: 1.5;

    .text, .placeholder {
      margin-right: 26px;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      float: none;
      width: auto;
      padding: 2px 8px;
    }

    .placeholder {
      color: #bbbbbb;
    }

    .close {
      display: inline-block;
      width: 12px;
      height: 15px;
      position: absolute;
      right: 20px;
      top: 8px;
      background: url('../imgs/icons.png') no-repeat;
      background-position: -47px 1px;

      &:hover {
        background-position: -47px -10px;
      }
    }

    .arrow {
      display: inline-block;
      width: 18px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background: url('../imgs/icons.png') no-repeat;
    }
  }

  .container-suggestions {
    // display: none;
    background: none;
    background-color: white;
    position: absolute;
    top: 27px;
    left: -1px;
    z-index: 9999;
    width: 100%;
    border: 1px solid $border-color;
    border-top: none;
    border-radius: 0 0 3px 3px;
    text-align: center;

    &.focus {
      border-color: #80bdff;
      box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25);
    }

    > input {
      // display: none;
      width: 99%;
      border: 1px solid $border-color;
      border-radius: 3px;
      color: rgba(0, 0, 0, 0.73);
      padding: 5px 30px 5px 5px;
      margin: 5px 0;
      box-sizing: border-box;
      outline: none;
  
      &.search {
        background: url('../imgs/icons.png') no-repeat 100% -22px;
      }
  
      &.searching {
        background: url('../imgs/spinner.gif') no-repeat 100%;
      }
    }
  
    ul.suggestions {
      // display: none;
      width: 100%;
      background-color: #FFF;
      text-align: left;
      margin: 0;
      padding: 0;
      overflow-y: auto;

      li {
        margin: 0;
        padding: 5px;
        list-style: none;
      }

      li.suggestion {
        cursor: pointer;

        &.active {
          background-color: $background-active;
          color: $color-active;
        }

        &.disabled {
          background-color: #FFF;
          color: #AAA;

          &:hover {
            background-color: #FFF;
            color: #AAA;
          }
        }

        &:hover {
          background-color: $background-active;
          color: $color-active;
        }
      }
    }
  }
}

.mask-autocomplete {
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 9998;
  background-color: #fff;
}